@import '../mixins/media.scss';
@import '../variables/colors.scss';
@import '../mixins/layout.scss';

.add-book {
  width: 100%;
  padding: 20px 20px;

  @include onTablet {
    padding: 20px 50px;
  }
}

.add-form {
  @include flex-center;
  flex-direction: column;

  &__content {
    @include flex-center;
    flex-direction: column;
    width: 100%;

    @include onTablet {
      width: 80%;
    }
  }

  & div {
    display: block;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 24px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    font-size: 16px;
  }

  &__field-input {
    width: 100%;
    padding: 10px;

    border: 1px solid $inactive;
    border-radius: 4px;

    font-size: 16px;
  }

  &__category-select {
    width: 100%;
    padding: 10px;

    border: 1px solid $inactive;
    border-radius: 4px;

    font-size: 16px;
  }

  &__submit {
    padding: 10px 20px;

    background-color: $pink;
    color: $white;
    border: none;
    border-radius: 4px;

    font-size: 16px;

    cursor: pointer;
  }

  &__submit:hover {
    background-color: $pink;
  }
}
