@import '../mixins/media.scss';
@import '../mixins/layout.scss';
@import '../variables/colors.scss';

.dashboard {
  padding: 40px 20px;

  @include onTablet {
    padding: 40px 50px;
  }
}

.sort-menu {
  margin-bottom: 20px;

  & select {
    display: inline-block;
    padding: 4px 10px;
  }

  &__count {
    margin-left: 20px;
    font-weight: 600;
  }
}
