@import '../variables/colors.scss';
@import '../mixins/layout.scss';

.footer {
  @include flex-center;
  padding: 10px 20px;
  height: 48px;

  background-color: $primary-dark;

  color: $primary-light;
  font-size: 19px;

  @include onTablet {
    padding: 10px 50px;
    height: 72px;
  }
}
