@import '../variables/colors.scss';
@import '../mixins/media.scss';
@import '../mixins/layout.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;

  height: 48px;

  background-color: $primary-dark;

  @include onTablet {
    height: 72px;
  }

  &__navbar {
    @include flex-between;

    padding: 10px 20px;
    height: 100%;

    @include onTablet {
      padding: 10px 50px;
    }
  }

  &__logo {
    display: inline-block;
    height: 100%;
  }

  &__logo svg {
    fill: $green;
    height: 100%;
    width: 50px;
  }

  &__add-btn {
    @include flex-center;
    border: 2px solid $green;
    padding: 4px 16px;

    border-radius: 0 20px 20px 20px;

    color: $green;
    font-size: 18px;

    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: $primary-light;
      color: $primary-light;
    }
  }
}
