@import './styles/variables/colors.scss';

body {
  font-family: 'Liberation Mono', 'Courier New', monospace;
  background-color: $light;
}

#root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
}

.footer {
  background-color: red;
  margin-top: auto;
  height: 50px;
  width: 100%;
}

.container {
  width: 100%;
}
